---

---
<header class="bg-gray-900 text-white p-4 shadow-md">
<div class="max-w-7xl mx-auto flex items-center justify-between flex-wrap">
    <!-- Logo y título -->
    <div class="text-xl font-semibold">
        <a href="#" class="text-aqua hover:text-aqua font-bold text-2xl">API SERIES</a>
    </div>

    <!-- Navegación -->
    <nav>
        <ul class="flex space-x-6 flex-wrap justify-center">
            <li>
                <a href="#" class="text-aqua hover:text-aqua transition-colors duration-200 mb-px">Top Series mejor valoradas</a>
            </li>
            <li>
                <a href="#" class="bg-red-600 text-aqua p-2 rounded-lg hover:bg-red-700 transition-colors duration-200">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</div>
</header>