---

import LayoutSecundario from "../layouts/LayoutSecundario.astro";
---


<LayoutSecundario title="404 - Página no encontrada">

    <main class="bg-gray-100 text-gray-700 flex flex-col items-center justify-center min-h-screen text-center">
        <!-- Contenedor principal -->
        <div class="flex flex-col items-center justify-center">
            <!-- Título del error -->
            <h1 class="text-6xl font-bold text-red-500 mb-4">¡Oops! Página no encontrada</h1>

            <!-- Descripción del error -->
            <p class="text-lg mb-6">Lo sentimos, la página que buscas no existe o ha sido movida.</p>

            <!-- Botón para regresar al inicio -->
            <a href="/"
               class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors focus:outline-none"
            >Volver a inicio
            </a>
        </div>
    </main>

</LayoutSecundario>


